@using Shared.ResponseModels
@using Radzen
@using Radzen.Blazor
@inherits FluxorComponent

<EditForm EditContext="_EC">
    <div class="form-group">
        <div class="row mt-5">
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchProvinces"
                                   Values="DashboardProgramFilter.ProvinceList"
                                   ValuesChanged="((IList<ProvinceResponseDTO> values)=>ProvinceListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.ProvinceList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Province"]">
                    <SelectedTemplate Context="province">
                        @province?.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named."]
                    </NotFoundTemplate>
                    <ResultTemplate Context="province">
                        @province?.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchProfessions"
                                   Values="DashboardProgramFilter.ProfessionList"
                                   ValuesChanged="((IList<ProfessionResponseDTO> values)=>ProfessionListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.ProfessionList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Profession"]">
                    <SelectedTemplate Context="profession">
                        @profession?.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named"]
                    </NotFoundTemplate>
                    <ResultTemplate Context="profession">
                        @profession?.Name
                    </ResultTemplate>
                </BlazoredTypeahead>

            </div>
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchExpertiseBranches"
                                   Values="DashboardProgramFilter.ExpertiseBranchList"
                                   ValuesChanged="((IList<ExpertiseBranchResponseDTO> values)=>ExpertiseBranchListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.ExpertiseBranchList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Specialization Training Program"]">
                    <SelectedTemplate Context="expertiseBranch">
                        @expertiseBranch?.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named."]
                    </NotFoundTemplate>
                    <ResultTemplate Context="expertiseBranch">
                        @expertiseBranch?.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchUniversities"
                                   Values="DashboardProgramFilter.UniversityList"
                                   ValuesChanged="((IList<UniversityResponseDTO> values)=>UniversityListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.UniversityList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Ministry / University"]">
                    <SelectedTemplate Context="university">
                        @university.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named"]
                    </NotFoundTemplate>
                    <ResultTemplate Context="university">
                        @university.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchFaculty"
                                   Values="DashboardProgramFilter.FacultyList"
                                   ValuesChanged="((IList<FacultyResponseDTO> values)=>FacultyListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.FacultyList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Educational Institution / Faculty"]">
                    <SelectedTemplate Context="faculty">
                        @faculty.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named"]
                    </NotFoundTemplate>
                    <ResultTemplate Context="faculty">
                        @faculty.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchHospitals"
                                   Values="DashboardProgramFilter.HospitalList"
                                   ValuesChanged="((IList<HospitalResponseDTO> values)=>HospitalListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.HospitalList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Institution of Education"]">
                    <SelectedTemplate Context="hospital">
                        @hospital.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named."]
                    </NotFoundTemplate>
                    <ResultTemplate Context="hospital">
                        @hospital.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchInstitution"
                                   Values="DashboardProgramFilter.InstitutionList"
                                   ValuesChanged="((IList<InstitutionResponseDTO> values)=>InstitutionListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.InstitutionList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Parent Institution"]">
                    <SelectedTemplate Context="institution">
                        @institution.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named"]
                    </NotFoundTemplate>
                    <ResultTemplate Context="institution">
                        @institution.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
            <div class="col md-2 mb-2">
                <BlazoredTypeahead SearchMethod="SearchAuthorizationCategory"
                                   Values="DashboardProgramFilter.AuthorizationCategoryList"
                                   ValuesChanged="((IList<AuthorizationCategoryResponseDTO> values)=>AuthorizationCategoryListChanged(values))"
                                   ValuesExpression="()=>DashboardProgramFilter.AuthorizationCategoryList"
                                   EnableDropDown="true"
                                   MinimumLength="1"
                                   MaximumSuggestions=int.MaxValue
                                   placeholder="@L["Authorization Category"]">
                    <SelectedTemplate Context="authorizationCategory">
                        @authorizationCategory?.Name
                    </SelectedTemplate>
                    <HelpTemplate>
                        @L["Please enter at least 1 character to search."]
                    </HelpTemplate>
                    <NotFoundTemplate Context="searchText">
                        "@searchText" @L["Could not find an item named."]
                    </NotFoundTemplate>
                    <ResultTemplate Context="authorizationCategory">
                        @authorizationCategory?.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
        <div class="col md-2 mb-2">
            <BlazoredTypeahead SearchMethod="SearchUniversityType"
                               Values="_universityTypeList"
                               ValuesChanged="((IList<string> values)=>UniversityTypeListChanged(values))"
                               ValuesExpression="()=>_universityTypeList"
                               EnableDropDown="true"
                               MinimumLength="1"
                               MaximumSuggestions=int.MaxValue
                               placeholder="@L["Vakıf/Devlet/Diğer"]">
                <SelectedTemplate Context="uniType">
                    @L[uniType]
                </SelectedTemplate>
                <HelpTemplate>
                    @L["Please enter at least 1 character to search."]
                </HelpTemplate>
                <NotFoundTemplate Context="searchText">
                    "@searchText" @L["Could not find an item named."]
                </NotFoundTemplate>
                <ResultTemplate Context="uniType">
                    @L[uniType]
                </ResultTemplate>
            </BlazoredTypeahead>
        </div>
        <div class="col md-2 mb-2">
                        <BlazoredTypeahead SearchMethod="SearchBranchType"
                                           Values="_branchTypeList"
                                           ValuesChanged="((IList<string> values)=>BranchTypeListChanged(values))"
                                           ValuesExpression="()=>_branchTypeList"
                                           EnableDropDown="true"
                                           MinimumLength="1"
                                           MaximumSuggestions=int.MaxValue
                                           placeholder="@L["Principal Branch / Sub Branch"]">
                            <SelectedTemplate Context="bType">
                                @L[bType]
                            </SelectedTemplate>
                            <HelpTemplate>
                                @L["Please enter at least 1 character to search."]
                            </HelpTemplate>
                            <NotFoundTemplate Context="searchText">
                                "@searchText" @L["Could not find an item named."]
                            </NotFoundTemplate>
                            <ResultTemplate Context="bType">
                                @L[bType]
                            </ResultTemplate>
                        </BlazoredTypeahead>
                    </div>
            <div class="col md-2 mb-2">
                <SpinnerButton ButtonClass="btn-secondary" Disabled="_saving" OnClick="() => ResetFilter()">
                    @((MarkupString)GetFilterCountString())<i class="fas fa-undo"></i>@L["Reset"]
                </SpinnerButton>
            </div>
        </div>
    </div>
</EditForm>