@page "/student/specialistStudents/"
@using Shared.Types;
@using UI.SharedComponents.AdvancedFilters
@using UI.SharedComponents.Components
@using Shared.ResponseModels
@using Shared.Extensions;
@inherits FluxorComponent

<AppContent Title="" IsFluid="true" BreadCrumbLinks="_links">
	<Toolbar>
		<div class="d-flex">
			<div type="button" class=@(_loadingFile ? "btn btn-outline-success spinner spinner-darker-success spinner-left" : "btn btn-outline-success mr-3") @onclick="DownloadExcelFile">
				<i class=@(_loadingFile ? "" : "fas fa-download")></i>@L["Export"]
			</div>
		</div>
	</Toolbar>
	<Content>
		<div class="card card-custom">
			<div class="card-body">
				@if (_students != null)
				{
					<Grid Items="_students" class="table table-hover table-bordered text-center" Sort="_filter.Sort.FirstOrDefault()" OnSortChanged="sort => OnSortChange(sort)" RowClass='(row, index) => row.ConditionallyGraduated == true ? "table-warning" : ""'>
						<GridColumn Sort="IdentityNo" TRowData="StudentPaginateResponseDTO" Title="@L["T.R. Identity Number"]">
							<ChildContent>
								@context.IdentityNo
							</ChildContent>
							<FilterTemplate Context="filter">
								<div class="form-group mb-0">
									<div class="input-icon input-icon-right">
										<input type="text" class="form-control" name="@filter" @onchange='(args) => OnChangeFilter(args, filter)' autocomplete="false">
										@if (IsFiltered(filter))
										{
											<span class="cursor-pointer" @onclick='() => OnResetFilter(filter)'>
												<i class="flaticon2-cross icon- text-danger"></i>
											</span>
										}
										else
										{
											<span class="cursor-pointer">
												<i class="flaticon2-search-1 icon-md"></i>
											</span>
										}
									</div>
								</div>
							</FilterTemplate>
						</GridColumn>
						<GridColumn Sort="Name" TRowData="StudentPaginateResponseDTO" Title="@L["Specialization Student's Name Surname"]">
							<ChildContent>
								@context.Name
							</ChildContent>
							<FilterTemplate Context="filter">
								<div class="form-group mb-0">
									<div class="input-icon input-icon-right">
										<input type="text" class="form-control" name="@filter" @onchange='(args) => OnChangeFilter(args, filter)' autocomplete="false">
										@if (IsFiltered(filter))
										{
											<span class="cursor-pointer" @onclick='() => OnResetFilter(filter)'>
												<i class="flaticon2-cross icon- text-danger"></i>
											</span>
										}
										else
										{
											<span class="cursor-pointer">
												<i class="flaticon2-search-1 icon-md"></i>
											</span>
										}
									</div>
								</div>
							</FilterTemplate>
						</GridColumn>
						<GridColumn Sort="ProfessionName" TRowData="StudentPaginateResponseDTO" Title=@L["Education Field"]>
							<ChildContent>
								@context.ProfessionName
							</ChildContent>
							<FilterTemplate Context="filter">
								<div class="form-group mb-0">
									<div class="input-icon input-icon-right">
										<input type="text" class="form-control" name="@filter" @onchange='(args) => OnChangeFilter(args, filter)' autocomplete="false">
										@if (IsFiltered(filter))
										{
											<span class="cursor-pointer" @onclick='() => OnResetFilter(filter)'>
												<i class="flaticon2-cross icon- text-danger"></i>
											</span>
										}
										else
										{
											<span class="cursor-pointer">
												<i class="flaticon2-search-1 icon-md"></i>
											</span>
										}
									</div>
								</div>
							</FilterTemplate>
						</GridColumn>
						<GridColumn Sort="OriginalHospitalName" TRowData="StudentPaginateResponseDTO" Title="@L["Institution of Education"]">
							<ChildContent>
								@if (context.Status == StudentStatus.Abroad)
								{
									<span style="color:red;-webkit-text-stroke-width:0.3px;-webkit-text-stroke-color:black;">
										@L["Education Abroad"]
									</span>
								}
								else
								{
									@context.OriginalHospitalName
								}
							</ChildContent>
							<FilterTemplate Context="filter">
								<div class="form-group mb-0">
									<div class="input-icon input-icon-right">
										<input type="text" class="form-control" name="@filter" @onchange='(args) => OnChangeFilter(args, filter)' autocomplete="false">
										@if (IsFiltered(filter))
										{
											<span class="cursor-pointer" @onclick='() => OnResetFilter(filter)'>
												<i class="flaticon2-cross icon- text-danger"></i>
											</span>
										}
										else
										{
											<span class="cursor-pointer">
												<i class="flaticon2-search-1 icon-md"></i>
											</span>
										}
									</div>
								</div>
							</FilterTemplate>
						</GridColumn>
						<GridColumn Sort="OriginalExpertiseBranchName" TRowData="StudentPaginateResponseDTO" Title="@L["Specialization Training Program"]">
							<ChildContent>
								@context.OriginalExpertiseBranchName
							</ChildContent>
							<FilterTemplate Context="filter">
								<div class="form-group mb-0">
									<div class="input-icon input-icon-right">
										<input type="text" class="form-control" name="@filter" @onchange='(args) => OnChangeFilter(args, filter)' autocomplete="false">
										@if (IsFiltered(filter))
										{
											<span class="cursor-pointer" @onclick='() => OnResetFilter(filter)'>
												<i class="flaticon2-cross icon- text-danger"></i>
											</span>
										}
										else
										{
											<span class="cursor-pointer">
												<i class="flaticon2-search-1 icon-md"></i>
											</span>
										}
									</div>
								</div>
							</FilterTemplate>
						</GridColumn>
						<GridColumn Sort="CurriculumVersion" TRowData="StudentPaginateResponseDTO" Title="@L["Curriculum"]">
							<ChildContent>
								@context.CurriculumVersion
							</ChildContent>
							<FilterTemplate Context="filter">
								<div class="form-group mb-0">
									<div class="input-icon input-icon-right">
										<input type="text" class="form-control" name="@filter" @onchange='(args) => OnChangeFilter(args, filter)' autocomplete="false">
										@if (IsFiltered(filter))
										{
											<span class="cursor-pointer" @onclick='() => OnResetFilter(filter)'>
												<i class="flaticon2-cross icon- text-danger"></i>
											</span>
										}
										else
										{
											<span class="cursor-pointer">
												<i class="flaticon2-search-1 icon-md"></i>
											</span>
										}
									</div>
								</div>
							</FilterTemplate>
						</GridColumn>
						
						<GridColumn class="min-w-150px align-middle" TRowData="StudentPaginateResponseDTO" Title="@L["Transactions"]">
								<a href="/archive/students/@context.Id" class="btn btn-light-success btn-icon btn-sm">
									<i class="far fa-edit"></i>
								</a>
						</GridColumn>
					</Grid>
					<p class="font-size-sm font-weight-light">*Sarı renkli satırların bilgileri eksik olabilir.</p>
					<Pagination Action="PaginationHandler" Count="_paginationModel.TotalItemCount" Page="_paginationModel.Page"
								DefaultPageSize="10" Loading="_loading">
					</Pagination>
				}
				else
				{
					<Spinner></Spinner>
				}
			</div>
		</div>
	</Content>
</AppContent>