@using UI.Helper;
@using Humanizer
<div @ref="dropZoneElement" class="@Class">
    @if (Class == "drop-zone")
    {
        <p>@L["Drop a file or paste an image from the clipboard or select a file using the input"]</p>
    }
    <InputFile OnChange="@OnInputFileChange" @ref="inputFile" />
    @if (uploadFile != null)
    {
        <div class="mt-5">
            <div class="d-flex align-items-center mb-3">
                <div class="symbol symbol-40 flex-shrink-0 mr-3">
                    @((MarkupString)Tools.GetFileExtensionImage(uploadFile.Name))
                </div>
                <div class="d-flex align-items-center flex-row-fluid">
                    <div class="d-flex flex-column pr-5 flex-grow-1">
                        <a class="text-dark-75 text-hover-primary mb-1 font-weight-bolder font-size-lg">@uploadFile.Name.Truncate(30)</a>
                        <span class="text-muted font-weight-bold">@Tools.FormatBytes(uploadFile.Size)</span>
                    </div>
                </div>
                @if (UploadResult == UploadResult.Pending)
                {
                    <div class="d-flex align-items-center justify-content-end flex-row-fluid">
                        <div class="spinner spinner-primary spinner-md mr-8"></div>
                    </div>
                }
                else if (UploadResult == UploadResult.Success)
                {
                    <a @onclick="@ResetStatus" class="d-flex align-items-center justify-content-end flex-row-fluid" title="@L["Delete"]">
                        <a class="btn btn-icon btn-light-danger btn-sm">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero"></path>
                                        <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>
                            </span>
                        </a>
                    </a>
                }
                else if (UploadResult == UploadResult.Error)
                {
                    <div class="d-flex align-items-center justify-content-end flex-column">
                        <span class="label label-lg label-light-danger label-inline font-size-sm font-weight-bold">@L["Not Uploaded"]</span>
                    </div>
                }
            </div>
        </div>
    }
    <span class="d-block text-muted mb-0 mt-2">@L["Allowed file types:"] pdf, docx, xlsx, png, jpg, jpeg</span>
    <span class="d-block text-muted mt-0">Max: 10 MB</span>
</div>